<app-header></app-header>
<section  style="position: relative;">
    <div class="vhs_hero_container">
      <div class="vhs-hero-wrapper">
        <div class="hero_main">
          <div class="hero_content">
            <h1 class="heading">
              Ontario Education That Fits.
            </h1>
            <h2 class="sub-heading">
              Anytime. Anywhere.
            </h2>
            <ul class="hero_checklist">
              <li class="checklist_item">
                <i class="bi bi-check2"></i>
                <div class="check-label">
                  <p>Real Teachers</p>
                  <div class="check-disc">
                    Learn from the best.
                  </div>
                </div>
              </li>
              <li class="checklist_item">
                <i class="icon bi bi-check2"></i>
                <div class="check-label">
                  <p>Real Support</p>
                  <div class="check-disc">
                    Access exceptional student services.
                  </div>
                </div>
              </li>
              <li class="checklist_item">
                <i class="bi bi-check2"></i>
                <div class="check-label">
                  <p>Real Success</p>
                  <div class="check-disc">
                    Earn the credit you need when you need it.
                  </div>
                </div>
              </li>

            </ul>

            <div class="vs_hero_button">
              <button class="hero_btn" routerLink="/courses">
                Enrol Now
              </button>
            </div>

            <div class="hero_circle_logo hero_global_logo">
              <img class="global-logo" src="/assets/img/VHSHero_icon_Globe.svg" alt="img">
            </div>
            <div class="hero_circle_logo hero_calendar_logo">
              <img class="calender-logo" src="/assets/img/VHSHero_icon_Calendar.svg" alt="img">
              <div class="circle_label">
                No Due Dates
              </div>
            </div>
            <div class="hero_circle_logo hero_course_logo">
              <img class="course-logo" src="/assets/img/VHSHero_icon_Online.svg" alt="img">
              <div class="circle_label">
                24/7 Course Access
              </div>
            </div>
            <div class="hero-img-wrapper">
              <img class="img-fluid" src="/assets/img/VHSHero-Crop_-img.png" alt="img">
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="vhs-hero__circle-image-wrapper"><img
        src="https://www.virtualhighschool.com/app/uploads/VHSHero_icon_Apple-Blue.svg" alt=""
        class="vhs-hero__circle-image img-fluid"></div>
  </section>
    <!-- vs-stats start -->
    <section class="vhs-stats">
        <div class="vhs-stats__container">
          <div class="vhs-stats__items">
            <div class="vhs-stats__item">
              <div class="vhs-stats__heading">
                <div class="stat">
                  <span><span class="stat-count__number">22</span></span><span class="stat-text"></span>
                </div>
              </div>
              <div class="vhs-stats__text">
                Years in Online Education
              </div>
            </div>
            <div class="vhs-stats__item">
              <div class="vhs-stats__heading">
                <div class="stat">
                  <span><span class="stat-count__number">88 000</span><span class="stat-count__suffix">+</span>
                  </span><span class="stat-text"></span>
                </div>
              </div>
              <div class="vhs-stats__text">Course Enrolments to Date</div>
            </div>
            <div class="vhs-stats__item">
              <div class="vhs-stats__heading">
                <div class="stat">
                  <span><span class="stat-count__number">130</span><span class="stat-count__suffix">+</span></span>
                  <span class="stat-text"></span>
                </div>
              </div>
              <div class="vhs-stats__text">Countries in our Student Community</div>
            </div>
            <div class="vhs-stats__item">
              <div class="vhs-stats__heading">
                <div class="stat">
                  <span><span class="stat-count__number">100</span><span class="stat-count__suffix">+</span></span>
                  <span class="stat-text"></span>
                </div>
              </div>
              <div class="vhs-stats__text">Certified Teachers</div>
            </div>
            <div class="vhs-stats__item">
              <div class="vhs-stats__heading">
                Ontario
              </div>
              <div class="vhs-stats__text">Course Enrolments to Date</div>
            </div>
          </div>
        </div>
      </section>
    
      <section class="vhs-container vhs-container--lead mt-5">
        <h2 class="text-center">A Leader in Virtual Education</h2>
        <p class="text-center">
          Virtual High School is a fully online private school offering Ontario Secondary School Diploma credits to
          thousands of students around the world every year. Inspected by the Ontario Ministry of Education since 2001, VHS
          is unrivaled in terms of experience, credibility, and expertise. Get connected. Stay engaged. Discover the VHS
          difference.
        </p>
      </section>
        <!-- ....... vhs-vide start ....... -->
<app-video></app-video>
  
  <!-- vhs-checklist start -->
  <section class="vhs-checklist vhs-checklist--wide">
    <div class="vhs-checklist__container">
      <div class="vhs-checklist__wrapper">
        <div class="vhs-checklist__content">
          <h2 class="vhs-checklist__heading">Why Enrol at Virtual High School?</h2>
          <ul class="vhs-checklist__list">
            <li>
              <i class="icon bi bi-check2"></i>
              20+ years of online education leadership
            </li>
            <li>
              <i class="icon bi bi-check2"></i>
              Established reputation with colleges and universities
            </li>
            <li>
              <i class="icon bi bi-check2"></i>
              Flexible, self-paced courses
            </li>
            <li>
              <i class="icon bi bi-check2"></i>
              Balanced student-teacher ratios
            </li>
            <li>
              <i class="icon bi bi-check2"></i>
              Extensive academic support and guidance services
            </li>
            <li>
              <i class="icon bi bi-check2"></i>
              Interactive student community programs and events
            </li>

          </ul>
          <div class="checlist_link">
            <a href="#" class="vhs-checklist__cta">Learn More </a>
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>
        <div class="vhs-checklist__image-wrapper">
          <img class="img-fluid" src="/assets/img/VHSChecklist-girl-img.png" alt="img">
        </div>
      </div>
    </div>
  </section>
  <!-- ....... vhs-container vhs-container--swirl ....... -->
  <section class=" vhs-container--swirl">
    <div class="vhs-carousel">
      <div class="vhs-carousel__container">
        <h2 class="vhs-carousel__heading">
          Featured Courses
        </h2>
        <app-featured-courses></app-featured-courses>

      </div>
    </div>


  </section>

  
  <!-- ....... vhs-tip start ....... -->

  <section class="vhs-tip">
    <div class="vhs-tip__container">
      <div class="vhs-tip__wrapper">
        <div class="vhs-tip__heading-wrapper">
          <i class="vhs-tip__heading-icon icon icon-fast-track">
          </i>
          <h2 class="vhs-tip__heading">
            Fast Track Courses
          </h2>
        </div>
        <div class="vhs-tip__content">
          <div class="vhs-tip__text">
            Have a deadline to meet? Get ready to succeed on the Fast Track!
            <p></p>
            <p>
              Fast Track courses guarantee 24-hour teacher email response times, 2-day assessment grading, and
              prioritized administrative support.
            </p>
          </div>
          <div class="vhs-tip__cta">
            <a href="#" class=" btn-secondary">
              Accelerate Your Course
            </a>
          </div>
        </div>
      </div>
      <div class="vhs-tip__footnote-wrapper">
        <div class="vhs-tip__footnote-icon-wrapper">
          <i class="fa-regular fa-lightbulb"></i>
        </div>
        <div class="vhs-tip__footnote">
          <strong>Tip:</strong>
          Add a Fast Track course to your cart by selecting the Fast Track toggle on any course page.
        </div>
      </div>
    </div>
  </section>
    <!-- vhs-tiles vhs-tiles--secondary start -->
    <section class="vhs-tiles vhs-tiles--secondary">
        <div class="vhs-tiles__container">
          <div class="vhs-tiles__wrapper">
            <h2 class="vhs-tiles__heading">
              Interactive Online Tutoring
            </h2>
            <ul class="vhs-tiles__items">
              <li class="vhs-tiles__item vhs-tiles__item--positioned">
                <div class="vhs-tiles__image-wrapper">
                  <img src="/assets/img/VHS_icon_Chat_PinkBG-1.svg" class="vhs-tiles__image img-fluid" alt="img">
                </div>
                <div class="vhs-tiles__content vhs-tiles__content--positioned">
                  <h3 class="vhs-tiles__subheading">
                    Professional Educators
                  </h3>
                  <p class="vhs-tiles__text">
                    Get one-on-one help from our subject matter experts.
                  </p>
                </div>
              </li>
              <li class="vhs-tiles__item vhs-tiles__item--positioned">
                <div class="vhs-tiles__image-wrapper">
                  <img src="/assets/img/VHS_icon_VirtualMeeting_PinkBG-1.svg" class="vhs-tiles__image img-fluid" alt="img">
                </div>
                <div class="vhs-tiles__content vhs-tiles__content--positioned">
                  <h3 class="vhs-tiles__subheading">
                    Real-Time Support
                  </h3>
                  <p class="vhs-tiles__text">
                    Ask questions over live chat or schedule a virtual meeting.
                  </p>
                </div>
              </li>
              <li class="vhs-tiles__item vhs-tiles__item--positioned">
                <div class="vhs-tiles__image-wrapper">
                  <img src="/assets/img/VHS_icon_SavingBank_PinkBG.svg" class="vhs-tiles__image img-fluid" alt="img">
                </div>
                <div class="vhs-tiles__content vhs-tiles__content--positioned">
                  <h3 class="vhs-tiles__subheading">
                    Free Access
                  </h3>
                  <p class="vhs-tiles__text">
                    Every course offers online tutoring at no additional charge.
                  </p>
                </div>
              </li>
            </ul>
            <a href="#" class="vhs-tiles__cta  btn-secondary" routerLink="/online-tutoring">
              Learn More
            </a>
          </div>
        </div>
      </section>
    
      <!-- ....... vhs-alumni  start ....... -->
    
      <section class="vhs-alumni">
        <div class="vhs-alumni__container">
          <h2 class="vhs-alumni__heading">
            VHS Alumni Have Been Accepted Worldwide
          </h2>
          <div class="vhs-alumni__wrapper">
            <div class="vhs-tabs">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">Universities</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Colleges</button>
                </li>
    
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="Universities-tab">
                  <div class="vhs-logo-bar">
                    <div class="vhs-logo-bar__container">
                      <h2 class="vhs-logo-bar__heading">
                        Universities
                      </h2>
                      <div class="vhs-logo-bar__wrapper">
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Brescia-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/OCAD-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Brescia-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/OCAD-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Brescia-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/OCAD-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Brescia-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/OCAD-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Brescia-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/OCAD-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Brescia-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/OCAD-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Brescia-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/OCAD-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Brescia-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/OCAD-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Brescia-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/OCAD-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Brescia-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/OCAD-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
    
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="Colleges-tab">
                  <div class="vhs-logo-bar">
                    <div class="vhs-logo-bar__container">
                      <h2 class="vhs-logo-bar__heading">
                        Colleges
                      </h2>
                      <div class="vhs-logo-bar__wrapper">
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Humber-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Candore-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/La-Cite-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Niagara-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Candore-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Humber-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Niagara-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/La-Cite-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Humber-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Candore-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/La-Cite-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Niagara-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Candore-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Humber-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/Niagara-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                        <div class="vhs-logo-bar__image-wrapper">
                          <a href="#" target="_blank">
                            <img src="/assets/img/La-Cite-1.png" class="vhs-logo-bar__image" alt="logo">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </section>
        <!-- ....... vhs-container-link start ....... -->
  <section class="vhs-container-link">
    <p class="text-center">
      Can't find your preferred school here? Don't worry! This is just a sample of our students' success!
      <a href="#">Contact us</a>
      to learn more.
    </p>
  </section>

  <!-- ....... vhs-courses ....... -->
  <section class="vhs-courses">
    <div class="vhs-courses__container">
      <h2 class="vhs-courses__heading">
        What’s New at VHS?
      </h2>
      <p class="vhs-courses__text">
        Stay in touch with the latest updates about our students, courses, and school on our blog!
      </p>
      <div class="vhs-courses__wrapper">
        <div class="vhs-tabs">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="Student-Spotlights-tab" data-bs-toggle="tab"
                data-bs-target="#Student-Spotlights" type="button" role="tab" aria-controls="Student-Spotlights"
                aria-selected="true">Student Spotlights</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="Course-Launches-tab" data-bs-toggle="tab" data-bs-target="#Course-Launches"
                type="button" role="tab" aria-controls="Course-Launches" aria-selected="false">Course Launches</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="Featured-Blogs-tab" data-bs-toggle="tab" data-bs-target="#Featured-Blogs"
                type="button" role="tab" aria-controls="Featured-Blogs" aria-selected="false">Featured Blogs</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="Student-Spotlights" role="tabpanel"
              aria-labelledby="Student-Spotlights-tab">
              <div class="vhs-carousel">
                <div class="vhs-carousel__container">
                  <h2 class="vhs-carousel__heading">
                    Student Spotlights
                  </h2>
                 <app-students></app-students>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="Course-Launches" role="tabpanel" aria-labelledby="Course-Launches-tab">
              <div class="vhs-carousel">
                <div class="vhs-carousel__container">
                  <h2 class="vhs-carousel__heading">
                    Course Launches
                  </h2>
                 <app-courses></app-courses>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="Featured-Blogs" role="tabpanel" aria-labelledby="Featured-Blogs-tab">

              <div class="vhs-carousel">
                <div class="vhs-carousel__container">
                  <h2 class="vhs-carousel__heading">
                    Featured-Blogs
                  </h2>
<app-blog></app-blog>        
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<app-informations></app-informations>
      

<app-footer></app-footer>
