<footer class="vhs-footer">
    <div class="vhs-footer__container">
      <div class="vhs-footer__top">
        <div class="vhs-footer__wrapper">
          <div class="vhs-footer__top-content">
            <div class="vhs-footer__top-left">
              <a href="#" class="vhs-footer__logo">
                <img src="assets/img/footer-logo.svg" alt="img">
              </a>
              <div class="vhs-footer__address">
                <p>
                  <a href="#" target="_blank">
                    27 Main Street North <br>
                    PO Box 402 <br>
                    Bayfield, ON, Canada
                  </a>
                </p>
              </div>
              <ul class="vhs-footer__social">
                <li>
                  <a href="#" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <i class="fa-brands fa-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="vhs-footer__top-right">
              <div class="nav justify-content-start vhs-footer__top-nav">
                <li class="nav-item">
                  <a href="#" class="nav-link collapse-toggle">
                    Courses
                  </a>
                  <ul class="collapse">
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Grade 9
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Grade 10
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Grade 11
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Grade 12
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Fast Track
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Summer School
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Elementary School
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link collapse-toggle">
                    Admissions
                  </a>
                  <ul class="collapse">
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Ontario Students
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Out-of-Province
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Students
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        International Students
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Homeschool Students
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Reach Ahead
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        How It Works
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link collapse-toggle">
                    Student Support
                  </a>
                  <ul class="collapse">
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Accommodations and IEPs
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Bursaries and Scholarships
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Online Tutoring
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        International Students
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Built-in Tools and Accessibility
                      </a>
                    </li>

                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link collapse-toggle">
                    Student Services
                  </a>
                  <ul class="collapse">
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Prerequisites
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Exams
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Student Records
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        OSSD Requirements
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Post-Secondary
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Applications
                      </a>
                    </li>

                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link collapse-toggle">
                    About Us
                  </a>
                  <ul class="collapse">
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Our Story
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Why Choose VHS?
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Principal’s Message
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Frequently Asked Questions
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Careers
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Contact Us
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Blog
                      </a>
                    </li>
                    <li class="nav-item grade_menu">
                      <a href="#" class="nav-link">
                        Partners
                      </a>
                    </li>

                  </ul>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vhs-footer__bottom">
        <div class="vhs-footer__wrapper">
          <div class="vhs-footer__bottom-content">
            <div class="vhs-footer__bottom-left">
              <div class="vhs-footer__disclaimer">
                Virtual High School is a year-round private school inspected by the Ontario Ministry of Education (BSID
                #665681) that offers Ontario Secondary School Diploma credits to thousands of students around the world
                each year.
              </div>
              <div class="vhs-footer__copyright">
                © 1997–2023 VirtualHighSchool.com Inc.
              </div>
            </div>
            <div class="vhs-footer__bottom-right">
              <div class="vhs-footer__nav">
                <ul class="vhs-footer__bottom-nav">
                  <li>
                    <a href="#" rel="">
                      <span>System Check</span></a>
                  </li>
                  <li>
                    <a href="#" rel="">
                      <span>Privacy/Intellectual Property</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" rel="">
                      <span>Policies</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" rel="">
                      <span>Accessibility</span>
                    </a>
                  </li>
                </ul>
              </div>
              <a href="#" class="vhs-footer__tbk">
                <span>Web Design & Digital Marketing </span>
                <i class="icon icon-tbk"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>