<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
       
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="register-login-popup">
            <!-- ....... register-login-page-start ....... -->
         <div class="login-wrapper">
           <h2 class="text-center">CREATE A PURCHASE ACCOUNT</h2>
           <p>Create a purchase account to register for a course.</p>
           <form class="form-login">
               <div class="form-floating mb-3">
                   <input type="text" class="form-control" id="floatingInput" placeholder="First Name of Purchaser">
                   <label for="floatingInput">First Name of Purchaser</label>
                 </div>
                 <div class="form-floating mb-3">
                   <input type="text" class="form-control" id="floatingPassword" placeholder="Last Name of Purchaser">
                   <label for="floatingPassword">Last Name of Purchaser</label>
                 </div>
                 <div class="form-floating">
                   <input type="email" class="form-control" id="floatingPassword" placeholder="Email">
                   <label for="floatingPassword">Email</label>
                 </div>
                 
               <div class="form-button">
                   <button class="btn-secondary">
                       Register
                   </button>
                   <div class="forgot-password">
                     <span>Already have a Purchase Account? </span>
                       <a href="login-popup.html"> Log In</a>
                   </div>
               </div>
           </form>
         </div>
        </div>
        </div>
      </div>
    </div>
  </div>