<app-header></app-header>

<section style="position: relative;">
    <div class="vhs-hero vhs-hero--search">
        <div class="vhs_hero_container">
            <div class="vhs-hero-wrapper">
                <div class="vhs-hero__content">
                    <h1 class="vhs-hero__heading">COURSES</h1>
                    <p class="vhs-hero__text mb-5">
                    With an ever-expanding list of Ontario Secondary School Diploma courses from Grades 9 <br> to 12, 
                        you’re sure to find something of interest at Virtual High School.
                    </p>
                </div>

            </div>
        </div>
    </div>


</section>

<!-- vhs-blogroll--search -->
<div class="vhs-blogroll vhs-blogroll--search">
    <div class="vhs-blogroll__container">
        <div class="vhs-blogroll__filter-bar">
            <form class="filter-container">
                <div class="row">
                    <div class="col-md-6  col-lg-6">
                        <div class="vhs-search">
                            <div class="form-floating mb-3">
                                <input type="search" class="form-control search-input" id="floatingInput"
                                    placeholder="Search">
                                <label for="floatingInput">Search</label>
                                <button type="submit" class="vhs-search_submit">
                                    <i class="bi bi-search"></i>
                                    <span class="visually-hidden">Search for anything</span>
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="blog-dropdown dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown button
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <div class="form-check"><input id="check-box" class="form-check-input"
                                            type="checkbox" name="category" value="check-box">
                                        <label class="form-check-label" for="check-box">Career Spotlight</label>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="blog-dropdown dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown button
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <div class="form-check"><input id="check-box" class="form-check-input"
                                            type="checkbox" name="category" value="check-box">
                                        <label class="form-check-label" for="check-box">Career Spotlight</label>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="vhs-blogroll__results">
            <div class="vhs-blogroll__items">
                <div class="vhs-blogroll__item item_card ">
                    <div class="item__card-img">

                    </div>
                    <div class="vhs-blogroll__item-content">
                        <h4 class="vhs-blogroll__item-subheading">
                            Getting from Here to There: Grade 9 Learning Strategies
                        </h4>
                        <div class="vhs-blogroll__item-tags">
                            <div class="vhs-blogroll__item-tag ">
                                <a href="#">Course Launch</a>
                            </div>
                            <div class="vhs-blogroll__item-tag ">
                                <a href="#">French</a>
                            </div>
                            <div class="vhs-blogroll__item-tag vhs-blogroll__item-tag--news">
                                <a href="#">News</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vhs-blogroll__item item_card ">
                    <div class="item__card-img">

                    </div>
                    <div class="vhs-blogroll__item-content">
                        <h4 class="vhs-blogroll__item-subheading">
                            Getting from Here to There: Grade 9 Learning Strategies
                        </h4>
                        <div class="vhs-blogroll__item-tags">
                            <div class="vhs-blogroll__item-tag ">
                                <a href="#">Course Launch</a>
                            </div>
                            <div class="vhs-blogroll__item-tag ">
                                <a href="#">French</a>
                            </div>
                            <div class="vhs-blogroll__item-tag vhs-blogroll__item-tag--news">
                                <a href="#">News</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vhs-blogroll__item item_card ">
                    <div class="item__card-img">

                    </div>
                    <div class="vhs-blogroll__item-content">
                        <h4 class="vhs-blogroll__item-subheading">
                            Getting from Here to There: Grade 9 Learning Strategies
                        </h4>
                        <div class="vhs-blogroll__item-tags">
                            <div class="vhs-blogroll__item-tag ">
                                <a href="#">Course Launch</a>
                            </div>
                            <div class="vhs-blogroll__item-tag ">
                                <a href="#">French</a>
                            </div>
                            <div class="vhs-blogroll__item-tag vhs-blogroll__item-tag--news">
                                <a href="#">News</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vhs-blogroll__item item_card ">
                    <div class="item__card-img">

                    </div>
                    <div class="vhs-blogroll__item-content">
                        <h4 class="vhs-blogroll__item-subheading">
                            Getting from Here to There: Grade 9 Learning Strategies
                        </h4>
                        <div class="vhs-blogroll__item-tags">
                            <div class="vhs-blogroll__item-tag ">
                                <a href="#">Course Launch</a>
                            </div>
                            <div class="vhs-blogroll__item-tag ">
                                <a href="#">French</a>
                            </div>
                            <div class="vhs-blogroll__item-tag vhs-blogroll__item-tag--news">
                                <a href="#">News</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vhs-blogroll__item item_card ">
                    <div class="item__card-img">

                    </div>
                    <div class="vhs-blogroll__item-content">
                        <h4 class="vhs-blogroll__item-subheading">
                            Getting from Here to There: Grade 9 Learning Strategies
                        </h4>
                        <div class="vhs-blogroll__item-tags">
                            <div class="vhs-blogroll__item-tag ">
                                <a href="#">Course Launch</a>
                            </div>
                            <div class="vhs-blogroll__item-tag ">
                                <a href="#">French</a>
                            </div>
                            <div class="vhs-blogroll__item-tag vhs-blogroll__item-tag--news">
                                <a href="#">News</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vhs-blogroll__item item_card ">
                    <div class="item__card-img">

                    </div>
                    <div class="vhs-blogroll__item-content">
                        <h4 class="vhs-blogroll__item-subheading">
                            Getting from Here to There: Grade 9 Learning Strategies
                        </h4>
                        <div class="vhs-blogroll__item-tags">
                            <div class="vhs-blogroll__item-tag ">
                                <a href="#">Course Launch</a>
                            </div>
                            <div class="vhs-blogroll__item-tag ">
                                <a href="#">French</a>
                            </div>
                            <div class="vhs-blogroll__item-tag vhs-blogroll__item-tag--news">
                                <a href="#">News</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vhs-blogroll__item item_card ">
                    <div class="item__card-img">

                    </div>
                    <div class="vhs-blogroll__item-content">
                        <h4 class="vhs-blogroll__item-subheading">
                            Getting from Here to There: Grade 9 Learning Strategies
                        </h4>
                        <div class="vhs-blogroll__item-tags">
                            <div class="vhs-blogroll__item-tag ">
                                <a href="#">Course Launch</a>
                            </div>
                            <div class="vhs-blogroll__item-tag ">
                                <a href="#">French</a>
                            </div>
                            <div class="vhs-blogroll__item-tag vhs-blogroll__item-tag--news">
                                <a href="#">News</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vhs-blogroll__item item_card ">
                    <div class="item__card-img">

                    </div>
                    <div class="vhs-blogroll__item-content">
                        <h4 class="vhs-blogroll__item-subheading">
                            Getting from Here to There: Grade 9 Learning Strategies
                        </h4>
                        <div class="vhs-blogroll__item-tags">
                            <div class="vhs-blogroll__item-tag ">
                                <a href="#">Course Launch</a>
                            </div>
                            <div class="vhs-blogroll__item-tag ">
                                <a href="#">French</a>
                            </div>
                            <div class="vhs-blogroll__item-tag vhs-blogroll__item-tag--news">
                                <a href="#">News</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- ....... pagination-start ....... -->
<div class="blog-pagination justify-content-center d-flex  mt-4">
    <nav aria-label="Page justify-content-center navigation example ">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<app-footer></app-footer>