<section class="vhs-video vhs-video--wide">
    <div class="vhs-video__container">
      <div class="vhs-video__wrapper">
        <h2 class="vhs-video__heading">How Does It Work?</h2>
        <div class="vhs-video__video">
          <button class="btn-play">
            Play video
          </button>
        </div>
        <div class="vhs-video__content-wrapper">
          <h2 class="vhs-video__heading vhs-video__heading--content">
            How Does It Work?
          </h2>
          <div class="vhs-video__content">
            <p>
              At Virtual High School, we recognize that no two learners are the same. That’s why students at VHS get to
              choose when and where to study, when to submit assignments, and when to write their final exams. With
              certified teachers, interactive course content, free online tutoring, dedicated student support teams, and
              an outstanding administrative staff, we stay focused on meeting the needs of each student to deliver the
              best in online secondary education.
            </p>
            <a href="#" class="vhs-video__cta btn-tertiary " routerLink="/courses">
              Find a Course
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>