<app-header></app-header>
<div class="login-school_wrapper mt-5 pt-5">
    <p>
        Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.
    </p>
  <div class="col-12">
    <form class="form-reset">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Username or email address">
            <label for="floatingInput">Username or email</label>
          </div>
          
         
        <div class="form-button">
            <button class="btn-secondary">
                Reset password
            </button>
           
        </div>
    </form>
  </div>
  </div>
<app-footer></app-footer>