<section class="vhs-tiles">
    <div class="vhs-tiles__container">
      <div class="vhs-tiles__wrapper">
        <h2 class="vhs-tiles__heading">
          Next Steps
        </h2>
        <ul class="vhs-tiles__items">
          <li class="vhs-tiles__item vhs-tiles__item--positioned">
            <div class="vhs-tiles__image-wrapper">
              <img class="vhs-tiles__image img-fluid" src="/assets/img/get-started-next-steps.jpg" alt="img">
            </div>
            <div class="vhs-tiles__content vhs-tiles__content--positioned">
              <h3 class="vhs-tiles__subheading">
                Get Started
              </h3>
              <p class="vhs-tiles__text">
                Select a course to begin our fast and easy registration process.
              </p>
              <a href="#" class="vhs-tiles__button btn-secondary vhs-tiles__button--positioned-mobile">
                Enrol Today
              </a>
            </div>
            <a href="" class="vhs-tiles__button vhs-tiles__button--positioned-desktop btn-secondary">
              Enrol Today
            </a>
          </li>
          <li class="vhs-tiles__item vhs-tiles__item--positioned">
            <div class="vhs-tiles__image-wrapper">
              <img class="vhs-tiles__image img-fluid" src="/assets/img/get-started-next-steps.jpg" alt="img">
            </div>
            <div class="vhs-tiles__content vhs-tiles__content--positioned">
              <h3 class="vhs-tiles__subheading">
                Get Started
              </h3>
              <p class="vhs-tiles__text">
                Select a course to begin our fast and easy registration process.
              </p>
              <a href="#" class="vhs-tiles__button btn-secondary vhs-tiles__button--positioned-mobile">
                Enrol Today
              </a>
            </div>
            <a href="" class="vhs-tiles__button vhs-tiles__button--positioned-desktop btn-secondary">
              Enrol Today
            </a>
          </li>
          <li class="vhs-tiles__item vhs-tiles__item--positioned">
            <div class="vhs-tiles__image-wrapper">
              <img class="vhs-tiles__image img-fluid" src="/assets/img/get-started-next-steps.jpg" alt="img">
            </div>
            <div class="vhs-tiles__content vhs-tiles__content--positioned">
              <h3 class="vhs-tiles__subheading">
                Get Started
              </h3>
              <p class="vhs-tiles__text">
                Select a course to begin our fast and easy registration process.
              </p>
              <a href="#" class="vhs-tiles__button btn-secondary vhs-tiles__button--positioned-mobile">
                Enrol Today
              </a>
            </div>
            <a href="" class="vhs-tiles__button vhs-tiles__button--positioned-desktop btn-secondary">
              Enrol Today
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>