
<app-header></app-header>

    <!-- ....... vhs-hero--split-mini start ....... -->
    <section class="vhs-hero vhs-hero--split-mini">
        <div class="vhs-hero__container">
            <div class="vhs-hero__wrapper">
                <div class="vhs-hero__content">
                    <ol class="vhs-breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="#">Student Support</a>
                        </li>
                        <li>
                            <a href="online-tutoring.html">Online Tutoring</a>
                        </li>
                    </ol>
                    <h1 class="vhs-hero__heading">
                        ONLINE TUTORING
                    </h1>
                    <h2 class="vhs-hero__subheading">Academic Support at Your Fingertips</h2>
                    <div class="vhs-hero__small-apple">

                    </div>
                    <div class="vhs-hero__image-wrapper">
                        <img class="img-fluid vhs-hero__image img-fluid"
                            src="/assets/img/Girl-speaking-with-tutor-1-1024x683-1-1024x683.webp" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  ....... vhs-container start ....... -->
    <section class="vhs-container">
        <h2>
            How Does the Tutoring Service Work?
        </h2>
        <p>
            We want to see students maximize their success in the courses they take at Virtual High School, which is why
            we offer free online tutoring! In addition to the feedback provided by the teacher, our tutoring service is
            designed to offer personalized, prompt answers to questions students may have about topics in the course
            content.
        </p>
        <p>
            Our tutoring service is available in two different formats to provide extra flexibility for student learning
            needs:
        </p>
        <div class="vsh_space"></div>
        <div class="built-text-tile">
            <div class="built-img">
                <img class="img-fluid" src="/assets/img/VHS_icon_Chat_PinkBG-1.svg" alt="img">
            </div>
            <div class="built-text">
                <h3>Live Chat</h3>
                <p>
                    Use our secure live chat feature to message back and forth with a tutoring coach during the hours of
                    operation. This is a great way to get help with quick, straightforward questions while students are
                    working on their courses.
                </p>
            </div>
        </div>
        <div class="built-text-tile">
            <div class="built-img">
                <img class="img-fluid" src="/assets/img/VHS_icon_VirtualMeeting_PinkBG-1.svg" alt="img">
            </div>
            <div class="built-text">
                <h3>
                    Virtual Classroom Meetings
                </h3>
                <p>
                    Schedule a 20-minute virtual conference meeting with a tutoring coach. These lengthier sessions give
                    students more time to deal with in-depth questions. Students can also use our handy digital
                    whiteboard feature when referencing visual aids, like charts, diagrams, and equations.
                </p>
            </div>
        </div>

        <div class="vsh_space"></div>

        <h2>
            Who Provides the Tutoring?
        </h2>
        <p>
            All tutoring coaches at Virtual High School are subject matter experts who work for our in-house academic
            team. As a result, they have exclusive access to our course materials so that they can jump into any unit or
            assessment to see exactly where students need help. The coaches will even be able to view previous
            assessments and feedback from teachers so that they can help pinpoint areas for improvement to tailor their
            responses to student questions.
        </p>
        <div class="vsh_space"></div>
        <h2>
            How Do Students Access the Online Tutoring?
        </h2>
        <p>
            The service is available within each course in a student’s Virtual High School account. Once the student has
            determined which type of format works best for their situation, they can proceed with either starting a live
            chat session or scheduling a virtual meeting directly from the course.
        </p>
        <div class="vsh_space"></div>
        <h2>
            What Questions Can Students Ask?
        </h2>
        <p>Students can ask any questions about concepts taught within their course(s)! For example, “I’m having
            difficulty understanding which values to substitute into a, b, and c, in the quadratic formula. Can you
            please help me?”
        </p>
        <p>
            Questions about Virtual High School’s policies and procedures regarding topics like admissions, exams, and
            report cards, should be directed to our administrative team.
        </p>
    </section>

        <!-- ....... vhs-tiles ....... -->
<app-informations></app-informations>











    <!-- vhs-call-to-action-bar start -->

    <section class="vhs-call-to-action-bar-inline">
        <div class="vhs-call-to-action-bar-inline__container">
            <div class="vhs-call-to-action-bar-inline__wrapper">
                <div class="vhs-call-to-action-bar-inline__images vhs-call-to-action-bar-inline__images--circle">
                    <div class="vhs-call-to-action-bar-inline__image-wrapper">
                        <img class="img-fluid vhs-call-to-action-bar-inline__image vhs-call-to-action-bar-inline__image--small img-fluid"
                            src="/assets/img/why-choose-vhs-1254x836.jpg" alt="img">
                    </div>
                </div>
                <div class="vhs-call-to-action-bar-inline__content">
                    <h3 class="vhs-call-to-action-bar-inline__subheading">
                        Why choose VHS? Feel confident in your decision to earn credits with us.
                    </h3>
                </div>
                <div class="vhs-call-to-action-bar-inline__cta">
                    <a href="#" class="vhs-call-to-action-bar-inline__button  btn-secondary">
                        Discover the VHS Difference
                    </a>
                </div>
            </div>
        </div>
    </section>
<app-footer></app-footer>