<header class="vhs-header">
    <div class="vhs-header__container">
      <div class="vhs-header__logo-wrapper">
        <a href="#" class="vhs-header__logo">
          <img src="/assets/img/elitehighschoolLogo.png" alt="elitehighschoolLogo" class="img-fluid">
       
        </a>
      </div>
     <div class="vs_header_dropdown"> 
         <div class="container">
  <div class="dropdown">
  
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
    data-bs-toggle="dropdown" aria-expanded="false">
    All Courses
  </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="row">
        <div class="col-3">
          <div
            class="nav flex-column nav-tabs text-center"
            id="v-tabs-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <a
              class="nav-link active"
              id="v-tabs-Grade-9-tab"
              data-bs-toggle="tab"
              href="#v-tabs-Grade-9"
              role="tab"
              aria-controls="v-tabs-Grade-9"
              aria-selected="true"
              ><span>Grade 9</span></a
            >
            <a
              class="nav-link"
              id="v-tabs-Grade-10-tab"
              data-bs-toggle="tab"
              href="#v-tabs-Grade-10"
              role="tab"
              aria-controls="v-tabs-Grade-10"
              aria-selected="false"
              ><span>Grade 10</span></a
            >
            <a
              class="nav-link"
              id="v-tabs-Grade-11-tab"
              data-bs-toggle="tab"
              href="#v-tabs-Grade-11"
              role="tab"
              aria-controls="v-tabs-Grade-11"
              aria-selected="false"
              ><span>Grade 11</span></a
            >
            <a
              class="nav-link"
              id="v-tabs-Grade-12-tab"
              data-bs-toggle="tab"
              href="#v-tabs-Grade-12"
              role="tab"
              aria-controls="v-tabs-Grade-12"
              aria-selected="false"
              ><span>Grade 12</span></a
            >
            <a
              class="nav-link"
              id="v-tabs-Track-tab"
              data-bs-toggle="tab"
              href="#v-tabs-Track"
              role="tab"
              aria-controls="v-tabs-Track"
              aria-selected="false"
              ><span>Fast Track</span></a
            >
            <a
              class="nav-link"
              id="v-tabs-Summer-tab"
              data-bs-toggle="tab"
              href="#v-tabs-Summer"
              role="tab"
              aria-controls="v-tabs-Summer"
              aria-selected="false"
              ><span>Summer School</span></a
            >
            <a
              class="nav-link"
              id="v-tabs-Summer-tab"
              data-bs-toggle="tab"
              href="#v-tabs-Summer"
              role="tab"
              aria-controls="v-tabs-Summer"
              aria-selected="false"
              ><span>Elementary School</span></a
            >
            <a href="#" class="vhs-mega-tabs__cta btn btn-sm btn-tertiary">All Virtual High School Courses</a>
          </div>
        </div>
      
        <div class="col-6">
          <div class="tab-content" id="v-tabs-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-tabs-Grade-9"
              role="tabpanel"
              aria-labelledby="v-tabs-Grade-9-tab"
            >
              <ul>
                <li>
                  <a href="#" rel="">
                    <div class="vhs-mega-tabs__label">ALC1O/2O</div>
                    <div class="vhs-mega-tabs__sublabel">Integrated Arts</div>
                  </a>
                </li>
                <li>
                  <a href="#" rel="">
                    <div class="vhs-mega-tabs__label">BBI1O/2O</div>
                    <div class="vhs-mega-tabs__sublabel">Introduction to Business</div>
                  </a>
                </li>
                <li>
                  <a href="#" rel="">
                    <div class="vhs-mega-tabs__label">BTT1O/2O</div>
                    <div class="vhs-mega-tabs__sublabel">Information and Communication Technology in Business</div>
                  </a>
                </li>
                <li>
                  <a href="#" rel="">
                    <div class="vhs-mega-tabs__label">CGC1D</div>
                    <div class="vhs-mega-tabs__sublabel">Issues in Canadian Geography</div>
                  </a>
                </li>
                <li>
                  <a href="#" rel="">
                    <div class="vhs-mega-tabs__label">ENL1W</div>
                    <div class="vhs-mega-tabs__sublabel">English</div>
                  </a>
                </li>
                <li>
                  <a href="#" rel="">
                    <div class="vhs-mega-tabs__label">FSF1D</div>
                    <div class="vhs-mega-tabs__sublabel">Core French</div>
                  </a>
                </li>
                <li>
                  <a href="#" rel="">
                    <div class="vhs-mega-tabs__label">FSF1O</div>
                    <div class="vhs-mega-tabs__sublabel">Core French</div>
                  </a>
                </li>
                <li>
                  <a href="#" rel="">
                    <div class="vhs-mega-tabs__label">GLS1O</div>
                    <div class="vhs-mega-tabs__sublabel">Learning Strategies 1: Skills for Success in Secondary School</div>
                  </a>
                </li>
                <li>
                  <a href="#" rel="">
                    <div class="vhs-mega-tabs__label">MTH1W</div>
                    <div class="vhs-mega-tabs__sublabel">Mathematics</div>
                  </a>
                </li>
                <li>
                  <a href="#" rel="">
                    <div class="vhs-mega-tabs__label">PPL1O</div>
                    <div class="vhs-mega-tabs__sublabel">Healthy Active Living</div>
                  </a>
                </li>
                <li>
                  <a href="#" rel="">
                    <div class="vhs-mega-tabs__label">SNC1W</div>
                    <div class="vhs-mega-tabs__sublabel">Science</div>
                  </a>
                </li>
              </ul>
            </div>
            <div
              class="tab-pane fade"
              id="v-tabs-Grade-10"
              role="tabpanel"
              aria-labelledby="v-tabs-Grade-10-tab"
            >
            <ul>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">ALC1O/2O</div>
                  <div class="vhs-mega-tabs__sublabel">Integrated Arts</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">BBI1O/2O</div>
                  <div class="vhs-mega-tabs__sublabel">Introduction to Business</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">BTT1O/2O</div>
                  <div class="vhs-mega-tabs__sublabel">Information and Communication Technology in Business</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">CGC1D</div>
                  <div class="vhs-mega-tabs__sublabel">Issues in Canadian Geography</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">ENL1W</div>
                  <div class="vhs-mega-tabs__sublabel">English</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">FSF1D</div>
                  <div class="vhs-mega-tabs__sublabel">Core French</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">FSF1O</div>
                  <div class="vhs-mega-tabs__sublabel">Core French</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">GLS1O</div>
                  <div class="vhs-mega-tabs__sublabel">Learning Strategies 1: Skills for Success in Secondary School</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">MTH1W</div>
                  <div class="vhs-mega-tabs__sublabel">Mathematics</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">PPL1O</div>
                  <div class="vhs-mega-tabs__sublabel">Healthy Active Living</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">SNC1W</div>
                  <div class="vhs-mega-tabs__sublabel">Science</div>
                </a>
              </li>
            </ul>
            </div>
            <div
              class="tab-pane fade"
              id="v-tabs-Grade-11"
              role="tabpanel"
              aria-labelledby="v-tabs-Grade-11-tab"
            >
            <ul>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">ALC1O/2O</div>
                  <div class="vhs-mega-tabs__sublabel">Integrated Arts</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">BBI1O/2O</div>
                  <div class="vhs-mega-tabs__sublabel">Introduction to Business</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">BTT1O/2O</div>
                  <div class="vhs-mega-tabs__sublabel">Information and Communication Technology in Business</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">CGC1D</div>
                  <div class="vhs-mega-tabs__sublabel">Issues in Canadian Geography</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">ENL1W</div>
                  <div class="vhs-mega-tabs__sublabel">English</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">FSF1D</div>
                  <div class="vhs-mega-tabs__sublabel">Core French</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">FSF1O</div>
                  <div class="vhs-mega-tabs__sublabel">Core French</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">GLS1O</div>
                  <div class="vhs-mega-tabs__sublabel">Learning Strategies 1: Skills for Success in Secondary School</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">MTH1W</div>
                  <div class="vhs-mega-tabs__sublabel">Mathematics</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">PPL1O</div>
                  <div class="vhs-mega-tabs__sublabel">Healthy Active Living</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">SNC1W</div>
                  <div class="vhs-mega-tabs__sublabel">Science</div>
                </a>
              </li>
            </ul>
            </div>
            <div
              class="tab-pane fade"
              id="v-tabs-Grade-12"
              role="tabpanel"
              aria-labelledby="v-tabs-Grade-12-tab"
            >
            <ul>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">ALC1O/2O</div>
                  <div class="vhs-mega-tabs__sublabel">Integrated Arts</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">BBI1O/2O</div>
                  <div class="vhs-mega-tabs__sublabel">Introduction to Business</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">BTT1O/2O</div>
                  <div class="vhs-mega-tabs__sublabel">Information and Communication Technology in Business</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">CGC1D</div>
                  <div class="vhs-mega-tabs__sublabel">Issues in Canadian Geography</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">ENL1W</div>
                  <div class="vhs-mega-tabs__sublabel">English</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">FSF1D</div>
                  <div class="vhs-mega-tabs__sublabel">Core French</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">FSF1O</div>
                  <div class="vhs-mega-tabs__sublabel">Core French</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">GLS1O</div>
                  <div class="vhs-mega-tabs__sublabel">Learning Strategies 1: Skills for Success in Secondary School</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">MTH1W</div>
                  <div class="vhs-mega-tabs__sublabel">Mathematics</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">PPL1O</div>
                  <div class="vhs-mega-tabs__sublabel">Healthy Active Living</div>
                </a>
              </li>
              <li>
                <a href="#" rel="">
                  <div class="vhs-mega-tabs__label">SNC1W</div>
                  <div class="vhs-mega-tabs__sublabel">Science</div>
                </a>
              </li>
            </ul>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="vhs-mega-tabs__content">
            <div class="vhs-mega-tabs__heading">Fast Track Courses</div>
            <div class="vhs-mega-tabs__text">Fast Track courses guarantee 24-hour teacher email response times, 2-day assessment grading, and prioritized administrative support.</div>
            <a href="#" class="vhs-mega-tabs__button btn-primry">
              Accelerate Your Course
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
             </div>
     </div>
      
      <div class="vhs-header__search-wrapper">
        <form class="vhs-search__form" method="get">
          <input name="search" type="text" class="vhs-search__input" placeholder="Search for anything"
            aria-label="Search for anything" id="search" autocomplete="new-password" value="">

          <button type="submit" class="vhs-search__submit">
            <i class="bi bi-search"></i>
            <span class="visually-hidden">Search for anything</span>
          </button>
        </form>
      </div>

      <div class="vhs-header__primary-nav-wrapper">
        <ul class="vhs-header__primary-nav">
          <li class="nav-item">
            <a href="#" class="nav-link">
              How It Works
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"  routerLink="/contact-us">
              Contact
            </a>
          </li>
          <!-- <li class="nav-item">
            <a href="#" class="nav-link" routerLink="/user/login">
              Log In
            </a>
          </li> -->
          
          <li class="nav-item">
        
            <div class="dropdown custome-dropdown">
              <a class="shadow-none dropdown-toggle nav-link" (click)="toggleDiv()" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Log In
              </a>
            
              <ul class="dropdown-menu dropdown-menu-lg-start" aria-labelledby="dropdownMenuLink">
                <div *ngIf="isDivVisible" class="isDivVisible">
        
                  <ul class="vhs-mega-tiles">
                    <li class="vhs-mega-tiles__item">
                        <a href="#" class="vhs-mega-tiles__link" routerLink="/user/my-acount">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <div class="vhs-mega-tiles__content">
                                <span class="vhs-mega-tiles__heading">Manage My Purchases</span>
                                <p class="vhs-mega-tiles__text">Log in to your purchase account to register for a course.</p>
                            </div>
                        </a>
                    </li>
                    <li class="vhs-mega-tiles__item margin-left">
                        <a href="#" class="vhs-mega-tiles__link" routerLink="/user/login">
                          <i class="fas fa-video"></i>
                            <div class="vhs-mega-tiles__content">
                                <span class="vhs-mega-tiles__heading">Take My Courses</span>
                                <p class="vhs-mega-tiles__text">Log in to our learning platform to work on your course(s).</p>
                            </div>
                        </a>
                    </li>
                </ul>
                </div>
              </ul>
            </div>

          </li>
       
        </ul>
        <a href="#" type="button" class="vhs-header__button btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Enrol Now
        </a>
        <!-- model -->
       <app-enroll-now></app-enroll-now>
      </div>
      <div class="vhs-header__cart-wrapper">
        <a href="#" class="vhs-header__cart">Cart
          <i class="bi bi-bag"></i>
        </a>
      </div>
      <div class="vhs-header__hamburger-wrapper">
        <button class="navbar-toggler vhs-header__hamburger" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#cnvs">
          <span>Menu</span>
          <i class="bi bi-list"></i>


        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="cnvs">
          <div class="offcanvas-header">

            <button class="btn btn-close text-end" data-bs-dismiss="offcanvas"></button>
          </div>
          <div class="offcanvas-body">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Log In
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Manage My Purchases
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Take My Courses
                      </a>
                    </li>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Admissions
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Ontario Students
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Out-of-Province Students
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        International Students
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Homeschool Students
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Reach Ahead
                      </a>
                    </li>

                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Student Support
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Accommodations and IEPs
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Bursaries and Scholarships
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Online Tutoring
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Built-in Tools and Accessibility
                      </a>
                    </li>


                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingfour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                    Student Services
                  </button>
                </h2>
                <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Prerequisites
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Exams
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Student Records
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        OSSD Requirements
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Post-Secondary Applications
                      </a>
                    </li>


                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingfive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                    About Us
                  </button>
                </h2>
                <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Our Story
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Why Choose VHS?
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Principal’s Message
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Frequently Asked Questions
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Careers
                      </a>
                    </li>


                  </div>
                </div>
              </div>
            </div>
            <ul class="vhs-header__primary-nav offcanvas-nav">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Contact Us
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Blog
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Partners
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Virtual Elementary School
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Run4Kids
                </a>
              </li>
            </ul>
            <!--  -->
            <div class="vhs-header__telephone-wrapper">
              <div class="vhs-header__telephone">
                <h4>Call Us</h4>
                <p>Local:
                  <a href="#" class="phone-number">1-416-800-1188</a><br>
                  Toll Free: <a href="tel:1-866-679-9377" class="phone-number">1-866-679-9377</a>
                </p>
              </div>
              <a href="#" class="vhs-header__telephone-logo" aria-hidden="true">
                <img src="/assets/img/logo-colour-vhs.svg" alt="Virtual High School Logo" width="180" height="61"
                  class="img-fluid">
              </a> 
            </div>
          </div>

        </div>
      </div>
    </div>
  </header>