
<app-header></app-header>
    <!-- ....... vhs-hero--split-mini start ....... -->
    <section class="vhs-hero vhs-hero--split">
        <div class="vhs-hero__container">
            <div class="vhs-hero__wrapper">
                <div class="vhs-hero__content">
                    <ol class="vhs-breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ol>
                    <h1 class="vhs-hero__heading">
                        WELCOME TO VHS!
                    </h1>
                    <h2 class="vhs-hero__subheading">How can we help you today?</h2>
                    <ul class="hero_checklist">
                        <li class="checklist_item">
                            <i class="bi bi-check2"></i>
                            <div class="check-label">
                                <p>1-416-800-1188</p>
                                <div class="check-disc">
                                    Local
                                </div>
                            </div>
                        </li>
                        <li class="checklist_item">
                            <i class="icon bi bi-check2"></i>
                            <div class="check-label">
                                <p>1-866-679-9377</p>
                                <div class="check-disc">
                                    Toll-free
                                </div>
                            </div>
                        </li>
                        <li class="checklist_item">
                            <i class="bi bi-check2"></i>
                            <div class="check-label">
                                <p>information@virtualhighschool.com</p>
                                <div class="check-disc">
                                    Email
                                </div>
                            </div>
                        </li>

                    </ul>

                </div>
                <div class="vhs-hero__small-apple">

                </div>
                <div class="vhs-hero__image-wrapper">
                    <img class="img-fluid vhs-hero__image img-fluid" src="/assets/img/contact-img.png" alt="img">
                </div>
            </div>
        </div>
    </section>

    <!--  ....... vhs-container start ....... -->
    <section class="vhs-container">
        <figure class="wp-block-table table-styles">
            <table class="has-fixed-layout">
                <thead>
                    <tr>
                        <th>Virtual High School</th>
                        <th>Office Hours</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#" rel="#">27 Main Street North, Box 402<br>
                                Bayfield, Ontario, Canada<br>
                                N0M 1G0</a>
                        </td>
                        <td>
                            Monday to Friday, 8:30 a.m. – 4:30 p.m. (Eastern Time)<br>
                            Closed Weekends and Statutory Holidays<br>
                        </td>
                    </tr>
                </tbody>
            </table>
        </figure>
        <div class="vsh_space"></div>
        <p><strong>Teacher Availability:</strong>&nbsp;
            Our teachers work independently, so their availability varies within our established standards. Please email
            your teacher through the learning environment if you have any questions about their availability.</p>

        <p><strong>Course Availability:</strong>&nbsp;Our courses are available at all times, every day of the year.</p>
        <div class="vsh_space"></div>
        <div class="vsh_space"></div>

    </section>

    <div class="gform_wrapper">
        <div class="gform_heading">
            <h2 class="gform_title">Contact Us</h2>
            <p class="gform_description">Get in touch if you have any questions!</p>
        </div>
        <form action="">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Full Name">
                        <label for="floatingPassword">Ful Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-md-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="ginput_container ginput_container_select">
                        <label class="gfield_label gform-field-label">
                            What can we help you with?
                        </label>
                        <select class="large gfield_select" name="" id="">
                            <option value="">General Inquiries & Questions</option>
                            <option value="">Exam Inquiries</option>
                            <option value="">Report Card Inquiries</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                            style="height: 170px"></textarea>
                        <label for="floatingTextarea2">Message</label>
                    </div>
                </div>
                <legend class="gform-field-label">
                    Become a VHS Insider
                </legend>
                <div class="gfield_checkbox">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            We occasionally send quick, fun, and informative emails to keep you updated on our latest
                            offerings. By checking this box, you provide Virtual High School with permission to email
                            you information on our services and other educational material.
                        </label>
                    </div>
                </div>

                <div class="form-btn">
                    <a href="#" class="btn-secondary">Send Message</a>
                </div>


            </div>

        </form>
    </div>



   





    <!-- ....... vhs-tiles ....... -->
   
    <!-- vhs-call-to-action-bar start -->

    <section class="vhs-call-to-action-bar-inline">
        <div class="vhs-call-to-action-bar-inline__container">
            <div class="vhs-call-to-action-bar-inline__wrapper">
                <div class="vhs-call-to-action-bar-inline__images ">
                    <div class="vhs-call-to-action-bar-inline__image-wrapper">
                        <img class="img-fluid vhs-call-to-action-bar-inline__image vhs-call-to-action-bar-inline__image--small img-fluid"
                            src="/assets/img/logo-colour-vhs-tile.svg" alt="img">
                    </div>
                </div>
                <div class="vhs-call-to-action-bar-inline__content">
                    <h3 class="vhs-call-to-action-bar-inline__subheading">
                        Check out our FAQ page for information on registration, courses, exams, report cards, and more!
                    </h3>
                </div>
                <div class="vhs-call-to-action-bar-inline__cta">
                    <a href="#" class="vhs-call-to-action-bar-inline__button  btn-secondary">
                        Frequently Asked Questions
                    </a>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>