<section>
  <div class="vhs-carousel__wrapper">
    <div class="container">
      <div class="row">

        <div class="col-12 p-0">
          <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-3">
                    <div class="item">
                      <a class="vhs_card">
                        <div class="vhs_card_img">
                          <img src="/assets/img/card-img-2.jpg" alt="img">
                        </div>
                        <div class="vhs-carousel__content">
                          <h3 class="item_heading">
                            ENG4U
                          </h3>
                          <h6 class="vhs-carousel_subheading">
                            English University, University Preparation
                          </h6>
                          <p class="vhs-carousel__text">
                            GR 12
                          </p>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="item">
                      <a class="vhs_card">
                        <div class="vhs_card_img">
                          <img src="/assets/img/card-img-3.jpg" alt="img">
                        </div>
                        <div class="vhs-carousel__content">
                          <h3 class="item_heading">
                            HFA4U
                          </h3>
                          <h6 class="vhs-carousel_subheading">
                            Nutrition and Health, University Preparation
                          </h6>
                          <p class="vhs-carousel__text">
                            GR 12
                          </p>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="item">
                      <a class="vhs_card">
                        <div class="vhs_card_img">
                          <img src="/assets/img/card-img-4.jpg" alt="img">
                        </div>
                        <div class="vhs-carousel__content">
                          <h3 class="item_heading">
                            SBI3U
                          </h3>
                          <h6 class="vhs-carousel_subheading">
                            Biology, University Preparation
                          </h6>
                          <p class="vhs-carousel__text">
                            GR 11
                          </p>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="item">
                      <a class="vhs_card">
                        <div class="vhs_card_img">
                          <img src="/assets/img/card-img-3.jpg" alt="img">
                        </div>
                        <div class="vhs-carousel__content">
                          <h3 class="item_heading">
                            ENG4U
                          </h3>
                          <h6 class="vhs-carousel_subheading">
                            English University, University Preparation
                          </h6>
                          <p class="vhs-carousel__text">
                            GR 12
                          </p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item ">
                <div class="row">
                  <div class="col-md-3">
                    <div class="item">
                      <a class="vhs_card">
                        <div class="vhs_card_img">
                          <img src="/assets/img/card-img-2.jpg" alt="img">
                        </div>
                        <div class="vhs-carousel__content">
                          <h3 class="item_heading">
                            ENG4U
                          </h3>
                          <h6 class="vhs-carousel_subheading">
                            English University, University Preparation
                          </h6>
                          <p class="vhs-carousel__text">
                            GR 12
                          </p>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="item">
                      <a class="vhs_card">
                        <div class="vhs_card_img">
                          <img src="/assets/img/card-img-3.jpg" alt="img">
                        </div>
                        <div class="vhs-carousel__content">
                          <h3 class="item_heading">
                            HFA4U
                          </h3>
                          <h6 class="vhs-carousel_subheading">
                            Nutrition and Health, University Preparation
                          </h6>
                          <p class="vhs-carousel__text">
                            GR 12
                          </p>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="item">
                      <a class="vhs_card">
                        <div class="vhs_card_img">
                          <img src="/assets/img/card-img-4.jpg" alt="img">
                        </div>
                        <div class="vhs-carousel__content">
                          <h3 class="item_heading">
                            SBI3U
                          </h3>
                          <h6 class="vhs-carousel_subheading">
                            Biology, University Preparation
                          </h6>
                          <p class="vhs-carousel__text">
                            GR 11
                          </p>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="item">
                      <a class="vhs_card">
                        <div class="vhs_card_img">
                          <img src="/assets/img/card-img-3.jpg" alt="img">
                        </div>
                        <div class="vhs-carousel__content">
                          <h3 class="item_heading">
                            ENG4U
                          </h3>
                          <h6 class="vhs-carousel_subheading">
                            English University, University Preparation
                          </h6>
                          <p class="vhs-carousel__text">
                            GR 12
                          </p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="icons">
                <a class=" left mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                  <i class="fa fa-arrow-left"></i>
                </a>
                <a class=" right mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                  <i class="fa fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="vhs-carousel__cta-wrapper">
  <a href="#" class="vhs-carousel__cta btn-secondary">
    View All Blogs
  </a>
</div>