   <app-header></app-header>
   <!-- ....... login-page-start ....... -->
     <div class="forgot-school_wrapper">
        <h2>
            Forgot your password? We can help!
        </h2>
        <p>
            Enter your username below and we will send you a password reset link to the email address associated with your username.
        </p>
       
      <div class="col-12">
        <form class="login_school">
            <label class="edit-label">Username</label> 
            <input type="email" class="edit-input">
           
               
            
              
             
            <div class="edit-button">
                <button>
                    Submit
                </button>
                <button class="light-btn">
                    Cancel
                </button>

                
            </div>
        </form>
      </div>
      </div>
      <app-footer></app-footer>