<app-header></app-header>
      <!-- ....... login-page-start ....... -->
      <div class="login-school_wrapper">
        <h2>
            Welcome to Virtual High School!
        </h2>
        <p>
            Log in to our learning platform to work on your course(s). 
        </p>
       
      <div class="col-12">
        <form class="login_school">
            <label class="edit-label">Username or email</label> 
            <input type="email" class="edit-input">
            <label class="edit-label">Password</label> 
            <input type="password" class="edit-input">
               
            
              
             
            <div class="edit-button">
                <button >
                    Login
                </button>
                <div class="forgot-password mt-3">
                    <a href="#" routerLink="/user/forgot">Forgot your password?</a>
                </div>
            </div>
        </form>
      </div>
      </div>

      <app-footer></app-footer>